<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <title>User_feedback</title>
</head>
<body>
    <div class="login-box1">
        <h2>Feedback</h2>
        <form id="form1" name="form1" method="post" action="/addfeedbackpost">
        <div class="row">
        <div class="col-25"></div>
        <div class="col-75">
            <textarea id="subject" name="subject" placeholder=".Write something..." style="height:200px;width: 400px"></textarea>
        </div>
      </div>
      <div class="row">
        <button type="submit"><span></span><span></span><span></span><span></span>Submit</button>
      </div>
    </form>
  </div>
</body>
</html>

