
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <title>Admin_Account</title>
</head>
<body>
    <div class="login-box">
        <h2><u>{{ data['username'] }}</u></h2><br>
        <form id="form1" name="form1" method="post" action="">
          <a href="/taketest1"><span></span><span></span><span></span><span></span>Take Test</a><br>
          <a href="/viewuser"><span></span><span></span><span></span><span></span>view Users</a><br>
          <a href="/viewtesthistory"><span></span><span></span><span></span><span></span>view History</a><br>
          <a href="/viewfeedbacks"><span></span><span></span><span></span><span></span>view Feedbacks</a><br>
          <a href="/logout"><span></span><span></span><span></span><span></span>Logout</a><br>
        </form>
      </div>
</body>
</html>