<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <title>Sickle Cell Anemia_information</title>
</head>
<body>
    <div class="login-box1">
        <h2>Sickle Cell Anemia</h2>
        <p>
            Anemia is a disease which is caused by the deficiency of red blood cells,the shape of red blood cell
changes to sickle which is very dangerous situation which leads to block blood flow to
organs,damage nerves and organs including kidney,liver and spleen and cause
fatal.Manual inspection of anemia by using microscopic images in laboratory is very
difficult and time consuming process.<br>
        <form id="form1" name="form1" method="post" action="">
          <a href="/back"><span></span><span></span><span></span><span></span>Back</a>
        </form>
     </div>
</body>
</html>