
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <title>Login</title>
</head>
<body>
    <div class="login-box1">
        <h2>Change Password</h2>
        <form id="form1" name="form1" method="post" action="/changepasswordpost">
          <div class="user-box1">
            <input type="text" name="currpass" required="">
            <label>Current Password</label>
          </div>
          <div class="user-box1">
            <input type="password" name="newpass" required="">
            <label>New Password</label>
          </div>
             <div class="user-box1">
            <input type="password" name="conpass" required="">
            <label>Confirm Password</label>
          </div>
          <button type="submit"><span></span><span></span><span></span><span></span>Submit</button>
        </form>
      </div>
</body>
</html>