<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/base.css">
        <title>Client Data</title>
    </head>
    <body>
        <div class="login-box">
            <h3>Enter Client Details</h3>
            <form id="form1" name="form1" method="post" action="/taketesthistory1">
              <div class="user-box"><input type="text" name="fname" required=""><label>First Name</label></div>
              <div class="user-box"><input type="text" name="lname" required=""><label>Last Name</label></div>
              <div class="user-box"><input type="text" name="gender" required=""><label>Gender</label></div>
              <div class="user-box"><input type="text" name="age" required=""><label>Age</label></div>
              <div class="user-box"><input type="text" name="bloodroup" required=""><label>Blood Group</label></div>
              <div class="user-box"><input type="email" name="email" required=""><label>Email_Id</label></div>
              <div class="user-box"><input type="text" name="mob" required=""><label>Mobile Number</label></div>
              <button type="submit"><span></span><span></span><span></span><span></span>Take Test</button>
            </form>
          </div> 
    </body>
    </html>