
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <title>contact_Me</title>
</head>
<body>
    <div class="login-box1">
        <h2>Contact Me </h2>
        <p style="color: rgb(231, 210, 224); text-align: inherit; padding: 20px; margin: 2px; font-size: 20;">
            JINSHA BACKER<br>
          Mtech Student <br>
            Information Technology Department<br>
            Government Engineering College
            Idukki,kerala <br>
            mob:8304909689<br>
        </p>
        <form id="form1" name="form1" method="post" action="">
          <a href="/back"><span></span><span></span><span></span><span></span>Back</a>
        </form>
      </div>
</body>
</html>