<html lang=>
    <head>
       <link rel="stylesheet" type="text/css" href="../static/base.css">
        <title>Feedback</title>
    </head>
    <body>
        <div class="login-box1">
            <h2>Feedback Added Successfully</h2>
            <p><br>...Thank You...</p> <br><br>
            <form id="form1" name="form1" method="post" action="">
            <a href="/useraccount"><span></span><span></span><span></span><span></span>Back</a><br>
            </form>
          </div>
    </body>
    </html>
    
    
    
    
    