<html lang=>
    <head>
       <link rel="stylesheet" type="text/css" href="../static/base.css">
        <title>Change Password</title>
    </head>
    <body>
        <div class="login-box1">
            <h2>...Sorry!...</h2>
            <p>Wrong Current password <br>........Enter Current Password correctly.........</p> <br><br>
            <form id="form1" name="form1" method="post" action="">
            <a href="/changepassword"><span></span><span></span><span></span><span></span>Back</a><br>
            </form>
          </div>
    </body>
    </html>
    
    
    
    
    