<html lang=>
    <head>
       <link rel="stylesheet" type="text/css" href="../static/base.css">
        <title>Account Activated</title>
    </head>
    <body>
        <div class="login-box1">
            <h2> OTP Verified Successfully...! </h2>
            <p><br>...Your Account Activated...Please Login Again....</p> <br><br>
            <form id="form1" name="form1" method="post" action="">
                <a href="/login"><span></span><span></span><span></span><span></span>Login</a>
            </form>
          </div>
    </body>
    </html>
    
    
    
    
    