<html lang=>
    <head>
       <link rel="stylesheet" type="text/css" href="../static/base.css">
        <title>Change Password</title>
    </head>
    <body>
        <div class="login-box1">
            <h2>...Password Changed...</h2>
            <p>Please Login To Continue.....</p> <br><br>
            <form id="form1" name="form1" method="post" action="">
              <a href="/login"><span></span><span></span><span></span><span></span>Login</a>
            </form>
          </div>
    </body>
    </html>
    
    
    
    
    