<html lang=>
    <head>
       <link rel="stylesheet" type="text/css" href="../static/base.css">
        <title>Account Created</title>
    </head>
    <body>
        <div class="login-box1">
            <h2>..Account Created But Not Verified...</h2> 
            <p><br>...Please Verify To Continue...</p> <br><br>
            <form id="form1" name="form1" method="post" action="">
                <a href="/verifyemailid"><span></span><span></span><span></span><span></span>Verify</a>
            </form>
          </div>
    </body>
    </html>
    
    
    
    
    