<html lang=>
    <head>
       <link rel="stylesheet" type="text/css" href="../static/base.css">
        <title>Account Creation</title>
    </head>
    <body>
        <div class="login-box1">
            <h2>Sorry...! Invalid OTP </h2>
            <p><br>...Please try again....</p> <br><br>
            <form id="form1" name="form1" method="post" action="">
                <a href="/otpverification"><span></span><span></span><span></span><span></span>Try Again</a>
            </form>
          </div>
    </body>
    </html>
    
    
    
    
    