
<html lang=>
    <head>
       <link rel="stylesheet" type="text/css" href="../static/base.css">
    
        <title>OTP verfication</title>
    </head>
    <body>
        <div class="login-box44">
            <h2> OTP vrerification</h2><br>
            <form id="form1" name="form1" method="post" action="/otpverificationpost">
            <div class="user-box44"><input type="text" name="otp" required=""><label>Enter OTP</label></div>
            <button type="submit"><span></span><span></span><span></span><span></span>Verify</button>
            </form>
          </div>
    </body>
    </html>
    
    
    
    
    