
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <title>Take_test</title>
</head>
<body>
    <div class="login-box2">
        <h2>Leukemia Testing</h2>
        <form id="form1" name="form1" method="post" enctype = "multipart/form-data" action="/taketest_post">
          <div class="user-box2"><input type="file" id="myfile" name="myfile" required=""><label for="myfile">Blood Sample Image</label></div>
          <button type="submit"><span></span><span></span><span></span><span></span>Show Test Result</button>
        </form>
      </div>
</body>
</html>
