<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <title>Test_Result</title>
</head>
<body>
    <div class="login-box1">
        <h2><u>Test Result</u></h2><br>
        <label style="color:blanchedalmond;">Result---></label><font color="aqua">{{ data }}</font>
        <form id="form1" name="form1" method="GET" action="/download">
          <button type="submit"><span></span><span></span><span></span><span></span>Download Result</button>
          <a href="/useraccount"><span></span><span></span><span></span><span></span>Back</a>
        </form>
      </div>
</body>
</html>

