
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <title>User_Account</title>
</head>
<body>
    <div class="login-box">
        <h2><u>{{ data['first_name'] }} {{ data['last_name'] }}</u></h2><br>
        <form id="form1" name="form1" method="post" action="">
         <a href="/viewprofile"><span></span><span></span><span></span><span></span>view Profile</a><br>
          <a href="/anemiainfo"><span></span><span></span><span></span><span></span>Sickle Cell Anemia Information</a><br>
          <a href="/taketest"><span></span><span></span><span></span><span></span>Take Test</a><br>
          <a href="/changepassword"><span></span><span></span><span></span><span></span>Change Password</a><br>
          <a href="/addfeedback"><span></span><span></span><span></span><span></span>Add Feedback</a><br>
          <a href="/contactus"><span></span><span></span><span></span><span></span>Contact Me</a><br>
          <a href="/logout"><span></span><span></span><span></span><span></span>Logout</a><br>
        </form>
      </div>
</body>
</html>
