<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/base.css">
        <title>verification</title>
    </head>
    <body>
        <div class="login-box1">
            <h2>Email Verification</h2>
    
            <form id="form1" name="form1" method="post" action="/loginverify">
              <div class="user-box1">
                <input type="text" name="username" required=""><label>Username</label>
              </div>
                <button type="submit"><span></span><span></span><span></span><span></span>Send OTP</button>
            </form>
          </div>
    </body>
    </html>