
<html lang=>
<head>
  <link rel="stylesheet" type="text/css" href="../static/base.css">

  <title>Login</title>
</head>
<body>
    <div class="login-box1">
        <h2>Sickle Cell Anemia Detection </h2>
        <form id="form1" name="form1" method="post" action="">
          <a href="/login"><span></span><span></span><span></span><span></span>Login</a>
          <a href="/signup"><span></span><span></span><span></span><span></span>Signup</a>
        </form>
      </div>
</body>
</html>




